{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "typescript": {}
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:react/jsx-runtime",
        "prettier"
    ],
    "plugins": [
        "prettier",
        "@typescript-eslint",
        "react",
        "react-hooks",
        "import"
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-duplicate-imports": "error",
        "default-param-last": "error",
        "react/jsx-props-no-spreading": "warn",
        "react/prop-types": "off",
        "react/display-name": "off",
        "import/no-unresolved": "error",
        "no-param-reassign": "warn",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    }
}